:root{
    --eo-primary: #AB05F2;
    --eo-secondary: #36D99D;
    --eo-neutral: #F2F2F2;
    --eo-dark: #262626;
}

body{
    font-family: 'IBM Plex Mono', monospace;
    background-color: var(--eo-dark);
}

header{
    height: 5rem;
    background-color: rgba(26,26,26,0.5);
}

.img-logo{
    width: 3rem;
}

#hero{
    background-image: linear-gradient(to right, rgba(26,26,26,1), rgba(0,0,0,0.7)), url(../img/ticket-one-hero.jpg);
    height: 100vh;
    background-position: center;
    background-size: 100%;
}
.hero{
    height: 100%;
}

#hero h1{
    background-color: red;
    background-image: linear-gradient(to right, #36D99D,#F2F2F2, #AB05F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 8rem;
    margin-left: -0.65rem;
}

/* utilities */
.eo-primary{
    color: var(--eo-primary);
}

.eo-secondary{
    color: var(--eo-secondary);
}

.eo-neutral{
    color: var(--eo-neutral);
}

.eo-dark{
    color: var(--eo-dark);
}

.eo-bg-secondary{
    background-color: var(--eo-secondary);
}

.eo-bg-primary{
    background-color: var(--eo-primary);
}

.letter-spacing{
    letter-spacing: 0.2rem;
}